/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {
    font-family: cursive;
    
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.header_logo{
    height: 130px;
}
.logo {
    height: 100px;
    width: 114px;
    margin-bottom: 35px;
}
.right {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}.left {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}
.modal-dialog{
    width: 800px;
}

.btn {
    font-size: 12px;
    line-height: .95;
}

.mybtn{
    font-size: 18px;
    line-height: 1.25;
}

.updateheader{
    margin-top: 20px;
}

.myinput {
    height: 27px;
}
.head_table{
    font-weight: 800;
}


.padding-12{
   padding: 12px;
}
.right-avg {
    display: block;
    float: right;
    width: 195px;
    background: #36A;
    color: white;
    border-radius: 15px 15px 0 0;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
}

.loader_image{
    height: 24px !important;
    width: 24px !important;
}